#root {
    margin: 0;
    padding: 10;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.line {
    display: flex;
    align-items: center;
    position: relative;

    width: 33%;
    min-width: 400px;
    min-height: 50px;

    margin-top: 20px;
    padding: 3px;
    border-radius: 5px;

    background-color: #aaa;
}

.icon {
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.line-pokemon-name {
    font-size: medium;
    display: flex;
}

.line-pokemon-id {
    font-size: x-large;
    color: #eee;
    font-style: italic;
    margin-right: 10px;
}

.line-pokemon-english {
    margin-left: 20px;
    font-size: small;
    font-style: italic;
}

.line-buttons {
    position: absolute;
    right: 20px;
}

.line-find-button {
    outline: none;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
    font-size: medium;
    border:1px solid #057fd0;
    padding: 3px 12px;
}
.line-find-button:active {
	position:relative;
	top:1px;
}
.line-find-button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.modal {
    position: fixed;
    padding: 10px;
    z-index: 2;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.around-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-close {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
    outline: none;
    color: white;
    width: 80px;
    min-height: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    box-shadow: 0px 1px 0px 0px #092b3a;
    border: 1px double black;
    font-size: medium;
    padding: 3px 12px;
}
.modal-close:active {
	position:relative;
	top:1px;
}
.modal-close:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
}

.modal-content-text {
    width: 50%;
    min-width: 250px;
}

.modal-content-evo {
    margin-left: 15px;
    font-style: italic;
}

.image-full-size {
    max-height: 70%;
    max-width: 40%;
}

.loca-route {
    margin: 10px 0px 10px 15px;
    width: 80%;
    color: grey;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.loca-route-plus {
    outline: none;
    width: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.loca-route-details {
    font-size: small;
    margin-left: 30px;
    margin-bottom: 5px;
}